---
import NextJs from "../icons/NextJs.astro";
import Tailwind from "../icons/Tailwind.astro";
import React from "../icons/React.astro";
import Node from "../icons/Node.astro";
import Nest from "../icons/Nest.astro";
import Mongo from "../icons/Mongo.astro";
import Postgresql from "../icons/Postgresql.astro";
import LinkButton from "./LinkButton.astro";
import Github from "../icons/Github.astro";
import WorldIcon from "../icons/World.astro";
import Vue from "../icons/Vue.astro";
import Express from "../icons/Express.astro";

const TAGS = {
	NEXT: {
		name: "Next Js",
		class: "bg-black dark:bg-gray-500/50 text-white",
		icon: NextJs,
	},
	TAILWIND: {
		name: "Tailwind CSS",
		class: "bg-[#003159] text-white",
		icon: Tailwind,
	},
	REACT: {
		name: "React",
		class: "bg-[#003159] text-white",
		icon: React,
	},
	VUE: {
		name: "Vue",
		class: "bg-[#35495e] text-white",
		icon: Vue,
	},
	NODE: {
		name: "Node Js",
		class: "bg-[#68a063] dark:bg-[#68a063]/50 text-white",
		icon: Node,
	},
	EXPRESS: {
		name: "Express js",
		class: "bg-black dark:bg-gray-500/50 text-white",
		icon: Express,
	},
	NEST: {
		name: "Nest Js",
		class: "bg-red-700 dark:bg-red-700/50 text-white",
		icon: Nest,
	},
	MONGO: {
		name: "Mongo DB",
		class: "bg-green-700 dark:bg-green-700/50 text-white",
		icon: Mongo,
	},
	POSTGRESQL: {
		name: "PostgreSQL",
		class: "bg-[#003159] text-white",
		icon: Postgresql,
	},
};

const PROJECTS = [
	{
		title: "Be Soul - Legacy planning app",
		description:
			"Web app that allows users to create and share digital legacies and memorials. The FrontEnd is built in React Js, Redux and Material UI.",
		image: "/assets/screencapture-be-soul.webp",
		link: "https://besoul.app",
		tags: [TAGS["REACT"]],
	},
	{
		title: "Url Shortener",
		description:
			"Web app to generate short urls. The FrontEnd is built with Next Js and Tailwind CSS. The BackEnd is also built with Next Js and PostgreSQL.",
		image: "/assets/screencapture-url-shortener.webp",
		link: "https://url-shortener-two-steel.vercel.app/",
		github: "https://github.com/GIsacura/url-shortener",
		tags: [TAGS["REACT"], TAGS["NEXT"], TAGS["TAILWIND"], TAGS["POSTGRESQL"]],
	},
	// {
	// 	title: "Video Games Searcher",
	// 	description:
	// 		"Web app to search info about video games with info up to 2020. The app is built with Next js with Tailwind CSS and Nest Js with Mongo DB.",
	// 	image: "/assets/screencapture-video-games-data.webp",
	// 	link: "https://video-games-data.vercel.app/",
	// 	github: "https://github.com/GIsacura/video_games_data",
	// 	tags: [TAGS["NEXT"], TAGS["TAILWIND"], TAGS["NEST"], TAGS["MONGO"]],
	// },
	{
		title: "Online Chat",
		description:
			"Real-time online chat, in which multiple users can connect and send messages. The app is built with Next js with Tailwind CSS and Nest Js with Socket.io.",
		image: "/assets/screencapture-online-chat.webp",
		link: "https://online-chat-seven.vercel.app/",
		github: "https://github.com/GIsacura/online-chat",
		tags: [TAGS["NEXT"], TAGS["TAILWIND"], TAGS["NEST"]],
	},
	{
		title: "Ride-hailing web admin",
		description:
			"Web admin  that allows authenticated administrator users to register and view vehicles in the context of a ride hailing company",
		image: "/assets/screencapture-ride-hiling.webp",
		// link: "https://ride-hailing-steel.vercel.app/",
		github: "https://github.com/GIsacura/ride-hailing",
		tags: [TAGS["VUE"], TAGS["EXPRESS"]],
	},
];
---

<div class="flex flex-col gap-y-16">
	{
		PROJECTS.map(({ title, description, tags, image, github, link }) => (
			<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
				<div class="w-full md:w-1/2">
					<div class="relative w-full flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
						<img
							alt={`Screen capture of project ${title}`}
							class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
							loading="lazy"
							src={image}
						/>
					</div>
				</div>

				<div class="w-full md:w-1/2 md:max-w-lg">
					<h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
						{title}
					</h3>
					<div class="flex flex-wrap mt-2">
						<ul class="flex flex-row flex-wrap mb-2 gap-2 lg:flex-nowrap lg:min-w-max">
							{tags.map((tag) => (
								<li>
									<span
										class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
									>
										<tag.icon class="size-4" />
										{tag.name}
									</span>
								</li>
							))}
						</ul>

						<div class="mt-2 text-gray-700 dark:text-gray-400">
							{description}
						</div>
						<footer class="flex items-end justify-start mt-4 gap-x-4">
							{github && (
								<LinkButton href={github}>
									<Github class="size-6" />
									Code
								</LinkButton>
							)}
							{link && (
								<LinkButton href={link}>
									<WorldIcon class="size-4" />
									Preview
								</LinkButton>
							)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</div>
